//Primeiro Fundo
$corPrimeiraFundo:#030B34;

//Fonte site Botao
$corPrimeiroFonte:#FFFFFF;
$corParragraFonte:#C0C0C0;

//Primeiro Botão 
$corPrimeiroBtn:#171717;
$corSegundoBtn:#02D6E8;
$corBarraSearch:#31343E;

//Primeiro Barra faq
$corBarraQuestions:#13151d;